.nav-center { 

text-align: right;

}

header{
    background-color: #669db3ff;
    text-align: center;
    color: #f0f6f7ff;
    padding: 10px
}
.container h1{
    color: #669db3ff;
    border-bottom: 2px solid grey;
    padding-bottom: 10px;

}

.container{
    padding: 2%;
    z-index: 4;
    background-color: white;
    /* min-height: 100vh; */
    /* height: 100%; */
}
main{
    padding: 1%;
    background-color: rgb(209, 204, 204);
    border-bottom: 5px solid #669db3ff;
}

footer{
    color: rgb(245, 244, 244);
    margin: 0px;
    border: 0;
}

html, body{
    height: 100%;
}